Security Server/DEX/login2/niam/asynch.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:urn="FROM_HOST_TO_NJT" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WorkerResponseASync" targetNamespace="FROM_HOST_TO_NJT">
  <wsdl:types>
    <xsd:schema targetNamespace="FROM_HOST_TO_NJT">


      
            
      <xsd:element name="NJT_Ticket" type="urn:NJT_Ticket"></xsd:element>

      <xsd:complexType name="NJT_Ticket">
      	<xsd:sequence>
      		<xsd:element name="xmlContent" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="NJT_TicketResponse"
      	type="urn:NJT_TicketResponse">
      </xsd:element>

      <xsd:complexType name="NJT_TicketResponse">
      	<xsd:sequence>
      		<xsd:element name="NJT_TicketResult" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendResponseRequest">
    <wsdl:part name="NJT_Ticket" element="urn:NJT_Ticket"/>
  </wsdl:message>
  <wsdl:message name="sendResponseResponse">
    <wsdl:part element="urn:NJT_TicketResponse" name="NJT_TicketResponse"/>
  </wsdl:message>
  <wsdl:portType name="WorkerResponseASync">
    <wsdl:operation name="sendResponse">
      <wsdl:input message="urn:sendResponseRequest"/>
      <wsdl:output message="urn:sendResponseResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WorkerResponseASyncSOAP"
  	type="urn:WorkerResponseASync">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="sendResponse">
  		<soap:operation soapAction="FROM_HOST_TO_NJT/NewOperation" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkerResponseASync">
    <wsdl:port binding="urn:WorkerResponseASyncSOAP" name="WorkerResponseASyncSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>